.auth {
    height:max-content;
    background-color: #23424e;
    /* width: 1600px; */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}
.formAuth {
    width: 100%;
    background-color: #ffffff4c;
    padding: 2.5rem;
    border-radius: 1rem;
    /* margin-right: 5rem; */
}
.btn-login:hover {
    background-color: #23424e;
}
@media screen and (max-width: 992px) {
    .AuthImg {
        display: none;
    }
}
