.auth {
    height:750px;
    background-color: #23424e;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}
.formAuth {
    width: 100%;
    background-color: #ffffff4c;
    padding: 2.5rem;
    border-radius: 1rem;
    /* margin-right: 5rem; */
}
.btnAuth {
    color: #fff;
    font-weight: 500;
    background-color: #23424e;
    font-size: 1.3rem;
    /* background-color: #F27227; */
}
@media screen and (max-width: 992px) {
    .AuthImg {
        display: none;
    }
}
