.footer {
    height: max-content;
    background-color: #1F2937;
    color: #fff;
    /* margin-top: 1000px; */
}
@media screen and (max-width:768px) {
    .footer__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        /* text-align: center; */
    }
}

.logo {
    padding-bottom: 5rem;
    width: 10rem;
}
